/* CONSTANTS */
/* PINK: #FF003C */
/* BLACK: #030303 */
/* YELLOW: #F7F100 */


/*****************/
/* NORMALIZATION */
/*****************/
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/******************/
/* RESPONSIVENESS */
/******************/
.desktop {
    display: none;
}

/***********/
/* GENERAL */
/***********/

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    background: #030303;
}

.button {
    padding: 0.85em 4em;
    color: white;
    border: none;
    background: #FF003C;
    cursor: pointer;
}

.button:hover {
    /* TODO */
}

/* HIDE THE CHECKBOX OF THE MENU */
input[name="mobileMenu"] {
    display: none;
}

/*******/
/* NAV */
/*******/

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 2em; /* PADDING ON BORDER */
}

.brand-img {
    height: 80%;
}

.nav-burger {
    border: none;
    background: #FF003C; /* PINK */
    height: 50%;
    padding: .75em 0.75em; /* CENTER THE TOMATO */
    cursor: pointer;
}

.nav-burger img {
    height: 100%;
    cursor: pointer;
}
.mobile-nav {
    position: absolute;
    background: #F7F100;
    color: #030303;
    padding: 2.5em 1.5em;
    list-style-type: none; /* NO MORE BULLETS >:( */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    right: 0;
    top: -300px;
    transition: 0.25s ease-in-out;
}

input[name="mobileMenu"]:checked ~ .mobile-nav {
    top: 10vh;
}

.mobile-nav a { /* SELECTS SPECIFICALLY THE A'S (NOT THE ASS)*/
    color: #030303;
    text-decoration: none;
}

.mobile-nav a:hover {
    text-decoration: line-through;
}

/***************************/
/* MAC USERS (AND WINDOWS) */
/***************************/

.desktop {
    display: none; /* MOBILE FIRST */
    justify-content: space-between;
    width: 300px;
    list-style-type: none; /* STOP BULLETS */
}

.desktop a {
    text-decoration: none;
    color: #030303; /* BLACK */
    font-weight: 700;
    font-size: 1.1em;
}

.desktop a:hover {
    text-decoration: line-through;
}

/********/
/* MAIN */
/********/

/* SECTION 1 */

.firstSection {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100vh;
    gap: 2em;
    padding-bottom: 10vh;
}

.logo {
    width: 100%;
    max-width: 1000px;
    mix-blend-mode: difference; /* APPLYING THE "DIFFERENCE" BLEND MODE SO THE BACKGROUND */
}

.down-arrows {
    max-width: 3em;
    overflow: hidden;
    margin-top: 2em;
}

.block-container {
    width: 45%;
    height: 40%;
    min-width: 280px;
    background: #F7F100; /* YELLOW */
    position: absolute;
    bottom: 40%;
    left: 0;
    z-index: -10; /* SO IT DOESNT APPEAR OVER THE BUTTON */
    font-size: 2rem;
    padding: 2em 2em 2em 2em;
    font-weight: bold;
    clip-path: polygon(0% 0%, 73% 0, 77% 4%, 91% 4%, 93% 8%, 100% 8%, 100% 80%, 95% 85%, 95% 100%, 20% 100%, 15% 95%, 0% 95%);
    /* CLIP-PATH PARA HACER LA FORMA AL CUADRADO. CADA COPA-SEPARATED THING REPRESENTA UN PUNTO (X, Y) */
}

.block-container p { /* TEXT INSIDE YELLOW BOX */
    max-width: 200px;
}






@media (min-width: 600px) {
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;

    }

    nav {
        flex-direction: row;
    }

    .block-container {
        font-size: 2.5rem;
    }
}

@media (max-height: 700px) {

    .block-container {
        font-size: 2rem;
    }

}