/* CONSTANTS */
/* PINK: #FF003C */
/* BLACK: #030303 */
/* YELLOW: #F7F100 */


/*****************/
/* NORMALIZATION */
/*****************/
*, *:before, *:after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    color: black;
    text-decoration: none;
}


/******************/
/* RESPONSIVENESS */
/******************/
.desktop {
    display: none;
}

/***********/
/* GENERAL */
/***********/

body {
    font-family: Poppins, sans-serif;
    overflow-x: hidden;
    background: #030303; /* BLACK */
}

.button {
    padding: 0.85em 4em;
    color: white;
    border: none;
    background: #FF003C; /* PINK */
    cursor: pointer;
    transition: 0.15s ease-in-out;
    font-weight: 700;
    position: relative;
}

.button:hover {
    background: #030303;
    box-shadow: 0 0 0 1px #F7F100; /* YELLOW */
}

/* HIDE THE CHECKBOX OF THE MENU */
input[name="mobileMenu"] {
    display: none;
}

.bold {
    font-weight: 700;
}

a:hover {
    color: #FF003C !important;
    text-decoration: line-through !important;
}

/*******/
/* NAV */
/*******/

nav {
    position: absolute;
    top: 0;
    width: 100%;
    background: rgba(255, 255, 255, 0.5);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10%;
    padding: 0 2em;
}

.brand-img {
    height: 80%;
}

.nav-burger {
    border: none;
    background: #FF003C; /* PINK */
    height: 50%;
    padding: .85em 0.75em; /* CENTER THE TOMATO */
    cursor: pointer;
}

.nav-burger img {
    height: 100%;
    cursor: pointer;
}

.mobile-nav {
    position: absolute;
    background: #030303;
    color: white;
    padding: 2.5em 1.5em;
    list-style-type: none; /* NO MORE BULLETS >:( */
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    right: 0;
    top: -300px;
    transition: 0.25s ease-in;
    z-index:10;
}

input[name="mobileMenu"]:checked ~ .mobile-nav {
    top: 10vh;
}

.mobile-nav a { /* SELECTS SPECIFICALLY THE A'S (NOT THE ASS)*/
    color: white;
    text-decoration: none;
}

/***************************/
/* MAC USERS (AND WINDOWS) */
/***************************/

.desktop {
    display: none;
    justify-content: space-between;
    width: 300px;
    list-style-type: none; /* STOP BULLETS */
}

.desktop a {
    text-decoration: none;
    color: #030303;
    font-weight: 700;
    font-size: 1.1em;
}
  /************/
 /* SECTION 1*/
/************/

.first-section{
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items:end;
}

.background-image {
    width: 100%;
    height: 100%;  /* Full container size */
    overflow: hidden; /* So the image doesnt push containers border */
    position: absolute;
    z-index: -10;
    background-color: #F7F100; /* Yellow */
    bottom: 0;

}

.big-boy {
    position: absolute;
    left:-200px; /* THIS IS CHANGED IN MEDIA QUERY FOR DESKTOP */
    bottom: -15px;
    height: 90%;
    transition: 0.5s;

}

.cyberpunk-image{
    width:100%;
    margin-top:5em;
    display:flex;
    flex-direction:column;
    align-items:center;
    max-width:1100px;
    overflow-x:hidden;
}

.logo{
    mix-blend-mode: difference;
    width:100%;
}

.newsletter{
   position:relative;
   bottom:0.4em;
   font-size:10vw;
   color:rgba(0,0,0,0.2);
    font-weight:900;
    transition:0.5s;
}

.first-section > a {
    display: block;
}

.first-section a{
    position:relative;
    align-self:center;
    left:26vw;
}



/*************/
/* SECTION 2 */
/*************/
.second-section{
    padding-top: 6em;
    padding-bottom: 3em;
}
.second-section-titulo{
    background-color: #F7F100;
    display: inline;
    padding: 1em 2em 1em 10%;
    position: relative;
}

.new{
    background-color: aqua;
}
.news-wrapper{
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    margin: 1em 10%;
}
.second-section-titulo + .news-wrapper{
    margin-top: 4em;
}
.second-section-titulo::before{
    content: "";
    height: 0.5em;
    width: 2em;
    background-color: #030303;
    position: absolute;
    top: -1px;
    right: -1px;
    clip-path: polygon(0% 0%,35% 100%, 100% 100%, 100% 0%);

}
.new{
    padding: 2em 3em 1em 1em;
    display: flex;
    flex-direction: column;
    gap: 1.5em;
    cursor: pointer;
    position: relative;
    
}
.new::before{
    content: "";
    height: 4em;
    width: 4em;
    background-color: #030303;
    position: absolute;
    bottom: -1px;
    right: -1px;
    clip-path: polygon(0% 100%, 100% 0%, 100% 100%);
    
}
.new:hover{
    background-color: #FF003C;
}
.new-titulo{
    margin-bottom: 2em;
}
.new-fecha{
    opacity: 0.7;
}
@media (min-width: 800px) {
    .news-wrapper{
        flex-direction: row;
        margin: 1.5em 25%;
    }
    .second-section-titulo{
        padding: 0.5em 2em 0.5em 25%;
    }
    .second-section{
        padding-top: 4em;
        padding-bottom: 2em;
    }
}

/*************/
/* SECTION 3 */
/*************/

.third-section{
    color:white;
    display:flex;
    flex-direction:column;
    align-items:center;
}

.join-tittle{
    background:#F7F100;
    color:#030303;
    width:100%;
    text-align:center;
    padding:1em;
}

.news-form-wrapper{
    padding:3em;
    display:flex;
    flex-direction:column;
    align-items:start;

}

.news-email-label{
    padding-bottom:0.7em;
}

.news-email-text{
    margin-bottom:1.5em;
    color:white;
    font-size:1rem;
    padding:0.25em;
    background:#030303;
    border:2px solid rgba(255,255,255,0.5);
}

.news-birth-label{
    padding-bottom:0.7em;
}

.news-birth-select{
    margin-bottom:1em;
    background:#030303;
    color:white;
}
.news-text-check{
    font-size:0.9rem;

}

.news-form-wrapper .button{
    align-self:end;
    margin-top:2em;
}
.news-birth-select option{
padding:123em;
}

/**********/
/* FOOTER */
/**********/

footer {
    background: #F7F100; /* YELLOW */
    padding: 0 2em;
    display: flex;
    flex-direction: column;
    align-items: center;
}

footer > section {
    border-bottom: 1px solid #030303; /* BLACK */
    padding: 2em 0;
    width: 100%;
    max-width: 1000px;
}

/* NEWSLETTER */

.footer-newsletter {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5em;
}

.footer-newsletter h3 {
    font-weight: 900;
    font-size: 1.5rem;
}

.footer-newsletter div {
    text-align: center;
    line-height: 1.7;
    max-width: 400px;
}

/* TERMS */

.terms {
    padding-left: 2em;
}

.terms ul {
    list-style-type: none;
    font-weight: bold;
    font-size: 0.8rem;
    display: flex;
    flex-direction: column;
    gap: 0.7em;
}

.terms ul li:before { /* CUSTOM LIST STYLE */
    content: "x ";
    font-weight: bold;
}

.terms ul li:hover {
    text-decoration: line-through;
}

/* COOKIES */

.cookies {
    text-align: center;
    font-size: 0.8rem;
    display: flex;
    align-items: center; /* SO THE PARAGRAPH STAYS ON THE CNTER WHEN SHORTENED */
    justify-content: center;
    border: none;
}

.cookies p {
    max-width: 400px;
    font-size: 0.9em;
    line-height: 1.7;
}

/* EXTRA LINKS */

.extra-links {
    background: #030303;
    color: white;
}

.extra-links a {
    color: white;
}

.extra-links ul {
    list-style-type: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    gap: 1em;
    font-size: 0.9rem;
}


@media (min-width: 600px) {
    /* GENERAL/NAV */
    .mobile {
        display: none;
    }

    .desktop {
        display: flex;
    }



    nav {
        flex-direction: row;
    }

    .cyberpunk-image{
        margin: 5em 12vw 0 12vw;
    }

    .big-boy{
        left: -100px;
    }

    .newsletter{
        font-size:7vw;
    }
    /* FOOTER */

    .extra-links {
        margin: 0 3em;
    }
}

@media (max-width: 1200px){
    .cyberpunk-image{
        margin: 5em 2vw 0 0;
    }

    .big-boy{
        height:80%;
    }

}